/*
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */


 html{
  font-size: 1rem;
  height: 100%;
}
body{
  height: 100%;
  font-size: 1rem;
}

h1{
  font-size:2rem;
}

#error_explantion{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  color:#F00;
}

#error_explantion p , #error_explantion li{
  font-size:1rem;
}

.field_with_errors {
  display: inline-block;
}

header{
  background:#FAFAFA;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}
.header-left{
  float: left;
}
.header-right{
  float:right;
}

ul{
  list-style: none;
}
header ul a ,header ul p{
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  margin: 2.5px;
}

header li {
  width: auto;
  float: left;
}

header ul a:hover {
  color:#808080;
  text-decoration: none;
}
.logo_image img{
   width:110px;
   margin:0 auto;
   float: left;
}

.mypage_image img{
  width:48px;
  margin:0 auto;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
  overflow: hidden;
}

.float-left-area{
  float: left;
}
footer{
  background:#FAFAFA;
  height: 30px;
  width: 100%;
  position: fixed;
  margin-top: 10px;
  bottom:0;
  display: table;
}

footer p{
  font-size:1rem;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.container{
  width: 100%;
  margin:0 auto;
  text-align: center;
  padding-bottom: 30px;
}

.form-small{
  margin-top: 30px;
  padding: 0 15%;
  border: 1px solid #ccc;
  background: #F8F8F8;
}

.form-border{
  margin-top: 10px;
  padding:5px;
  border: 1px solid #ccc;
  background: #F8F8F8;
}

.form-group > input{
  width:100%;
}
textarea{
  width:100%;
  border: 1px solid #ccc;
  resize: none;
}

.btn{
  margin-bottom: 10px;
}

.small-text{
  font-size:12px;
}